---
layout: none
---

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #111;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  text-transform: uppercase;
  .status,
  .entry {
    width: 33.33%;
    height: 33.33vh;
    padding-top: 12vh;
    padding-bottom: 12vh;
    font-size: 22px;
  }
  .entry {
    position: absolute;
    top: 33.33vh;
    left: 33.33%;
  }
  .status:nth-of-type(6) {
    margin-left: 33.33%;
  }
  .status {
    background: #ccb1eb;
    border: 1px solid #111;
    padding-top: 15vh;
    padding-bottom: 15vh;
    &:hover {
      background: darken(#ccb1eb, 10%);
    }
  }
}

.input {
  &--text {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-transform: inherit;
    background: inherit;
    border: none;
    border-bottom: 1px solid #777;
  }
}
