---
layout: default
share:
  twitter: "http://twitter.com/intent/tweet?text=Current%20status&url="
  facebook: "https://www.facebook.com/sharer/sharer.php?u="
---

<div id="app" class="app">

  <div class="search">
    <label for="current_status" class="label">Current status:</label>
    <input v-model="current_status" type="text" id="current_status" class="input" autofocus>
  </div>

  <status-box
    v-for="status in statuses | filterBy current_status in 'name'"
    :status="status">
  </status-box>

</div>

<script type="vue/template" id="status-box">
  <article class="status" @click="open_status" style="background-image:url([[ status.image ]])">
    [[ status.name ]]
    <aside class="share">
      <a href="{{ page.share.twitter }}[[ status.image ]]">
        <svg viewBox="0 0 20 20">
          <use xlink:href="#twitter"></use>
         </svg>
      </a>
      <a href="{{ page.share.facebook }}[[ status.image ]]">
        <svg viewBox="0 0 20 20">
          <use xlink:href="#facebook"></use>
        </svg>
      </a>
    </aside>
  </article>
</script>
