---
layout: default
---

<div id="app" class="app">

  <div class="entry">
    <label for="current_status" class="label  label--text">Current status:</label>
    <input v-model="current_status" type="text" id="current_status" class="input  input--text" autofocus>
  </div>

  <status-box
    v-for="status in statuses | filterBy current_status in 'name'"
    :status="status">
  </status-box>

</div>

<script type="vue/template" id="status-box">
  <div class="status" @click="open_status">
    [[ status.name ]]
  </div>
</script>
